main > section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header1 > img {
  width: 1250px;
  transition: linear 500ms;
}
.header1 > img:hover {
  width: 1300px;
}
.hero > img {
  width: 650px;
  transition: linear 500ms;
}
.hero > img:hover {
  width: 700px;
}
.coupens > img {
  width: 1300px;
}
.offer > img {
  width: 650px;
}
.crezy > img {
  width: 1350px;
}
.photo > img {
  width: 260px;
}
.shop > img {
  width: 1350px;
}
.hero3img > img {
  height: 290px;
}
#moreKnock > img {
  width: 1350px;
}
